div {
  padding: 3vh;
  margin-top: 10vh;
  margin-left: 18vw;
  background-color: rgb(255, 183, 0);
  width: 55vw;
  border-radius: 10px;
}

input{
  width: 50vw;
  height: 6vh;
  border-radius: 30px;
  border-width: .5px;
  background-color: #e9e9e9;
  opacity: 50%;
  border: none;
}

::-webkit-input-placeholder {
  text-align: center;
  font-size: 26px;
  color: black;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
} 

button{
  height: 5.5vh;
  width: 4vw;
  border-radius: 30px;
  border: none;
  background-color: #e9e9e9;
  opacity: 50%;
  border-width: .5px;
}